<br><div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5 border bg-light">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">CEDULA</th>
                  <th scope="col">NOMBRE</th>
                  <th scope="col">PRODUCTOS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientesArray" (click)="Editar(cliente)">
                  <td>{{cliente.id}}</td>
                  <td>{{cliente.cedula}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.producto}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col py-3 px-lg-5 border bg-light">
            <h4>Administrar Clientes</h4>
            <input [(ngModel)]="clientesSelect.id" class="form-control" type="text" placeholder="INGRESE ID"
            style="margin-top:5px;">
            <input [(ngModel)]="clientesSelect.cedula" class="form-control" type="text" placeholder="INGRESE CEDULA"
            style="margin-top:5px;">
            <input [(ngModel)]="clientesSelect.nombre" class="form-control" type="text" placeholder="INGRESE NOMBRE"
            style="margin-top:5px;">
            <input [(ngModel)]="clientesSelect.producto" class="form-control" type="text" placeholder="INGRESE PRODUCTOS"
            style="margin-top:5px;">
          
            <button (click)="Agregar()" class="btn btn-outline-success my-2 my-sm-0" type="submit"
            style="margin-top:10px; margin-right:5px;">Aceptar</button>
      
            <button *ngIf="clientesSelect.id > 0"
            (click)="Eliminar()" class="btn btn-outline-danger my-2 my-sm-0" type="submit"
            style="margin-top:5px;" >Eliminar</button>
      
          </div>
        </div>
      </div>
